<div id="kanji-worksheet" class="container">
    <div class="branding">
        <img src="/img/logo.jpg" alt="JapaneseTools" class="logo">
        <div class="url">http://nihongo.kaikeru.com</div>
    </div>
    <ul class="kanji-info">
        <li class="character">
            {{character}}
        </li>
        {{#if meanings}}
        <li>
            <span class="reading-type">meaning:</span> {{meanings}}
        </li>
        {{/if}}
        {{#if onyomi}}
        <li>
            <span class="reading-type">onyomi:</span> {{onyomi}}
        </li>
        {{/if}}
        {{#if kunyomi}}
        <li>
            <span class="reading-type">kunyomi:</span> {{kunyomi}}
        </li>
        {{/if}}
    </ul>
    <div class="kanji-strokes">
        {{#each svg}}
        {{{this}}}
        {{/each}}
    </div>
</div>
